{
    "catalog_database_type": "postgres", 
    "db_host": "{{ irods_db_host }}", 
    "db_name": "ICAT", 
    "db_odbc_type": "unix", 
    "db_password": "{{ irods_db_password }}", 
    "db_port": {{ irods_db_port }}, 
    "db_username": "{{ irods_db_username }}"
}
