{
    "advanced_settings": {
        "default_number_of_transfer_threads": 4, 
        "default_temporary_password_lifetime_in_seconds": 120, 
        "maximum_number_of_concurrent_rule_engine_server_processes": 4, 
        "maximum_size_for_single_buffer_in_megabytes": 32, 
        "maximum_temporary_password_lifetime_in_seconds": 1000, 
        "transfer_buffer_size_for_parallel_transfer_in_megabytes": 4, 
        "transfer_chunk_size_for_parallel_transfer_in_megabytes": 40
    }, 
    "default_dir_mode": "0750", 
    "default_file_mode": "0600", 
    "default_hash_scheme": "MD5",
    "default_resource_directory": "{{ irods_default_resource_directory }}",
    "default_resource_name" : "{{ irods_default_resource_name }}",
    "environment_variables": {}, 
    "federation": [], 
    "icat_host": "{{ irods_icat_host }}", 
    "match_hash_policy": "compatible", 
    "negotiation_key": "{{ irods_negotiation_key }}", 
    "re_data_variable_mapping_set": [
        {
            "filename": "core"
        }
    ], 
    "re_function_name_mapping_set": [
        {
            "filename": "core"
        }
    ], 
    "re_rulebase_set": [
        {
            "filename": "ipc-custom"
        },
        {
            "filename": "core"
        }
    ], 
    "schema_validation_base_uri": "https://schemas.irods.org/configuration", 
    "server_control_plane_encryption_algorithm": "AES-256-CBC", 
    "server_control_plane_encryption_num_hash_rounds": 16, 
    "server_control_plane_key": "{{ irods_server_control_plane_key }}", 
    "server_control_plane_port": 1248, 
    "server_control_plane_timeout_milliseconds": 10000, 
    "server_port_range_end": {{ irods_server_port_range_end }}, 
    "server_port_range_start": {{ irods_server_port_range_start }}, 
    "xmsg_port": 1279, 
    "zone_auth_scheme": "native", 
    "zone_key": "{{ irods_zone_key }}", 
    "zone_name": "iplant", 
    "zone_port": 1247, 
    "zone_user": "{{ irods_zone_user }}"
}

